:root {
  --background-color: #151515;
  --font-color: #eaeaea;
  --invert-font-color: #151515;
  --primary-color: #1a95e0;
  --secondary-color: #999;
  --block-background-color: #1e1e1e;
  --code-bg-color: #1e1e1e;
  --progress-bar-background: #444;
  --progress-bar-fill: #eaeaea;
}

body {
  font-size: 16px;
  margin-left: 2rem;
}

.ascii-art {
  font-family: monospace;
  white-space: pre;
  display: table;
  margin: 0 auto;
}

/* card */
.card-columns {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  align-items: flex-start;
}

/* terminal-card */
.terminal-card {
  border: none;
  flex: 1 1 30%;
  max-width: 30%;
  min-width: 280px;
  box-sizing: border-box;
}
.terminal-card h2 {
  font-size: 1.1em;
  margin-bottom: 0.3em;
  font-weight: bold;
}

/* blockquote */
blockquote {
  margin: 0;
  padding-left: 1em;
  color: var(--font-color);
}

/* block-card */
.block-card {
  padding: var(--global-space);
  border-bottom: 1px solid var(--secondary-color);
}
.block-card:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
