<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>500</title>
    <link rel="stylesheet" href="https://unpkg.com/terminal.css@0.7.4/dist/terminal.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1 class="ascii-art">
    __________  ____ 
   / ____/ __ \/ __ \
  /___ \/ / / / / / /
 ____/ / /_/ / /_/ / 
/_____/\____/\____/  
    </h1>
    <h2>Whoops! Looks like we messed up.</h2>
  </body>
</html>
