<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet" href="https://unpkg.com/terminal.css@0.7.4/dist/terminal.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1 class="ascii-art">
   __ __  ____  __ __
  / // / / __ \/ // /
 / // /_/ / / / // /_
/__  __/ /_/ /__  __/
  /_/  \____/  /_/   
    </h1>
    <h2>Sorry, we couldn't find the page you are looking for.</h2>
    <h3>'{{ uri }}' does not exist.</h3>
  </body>
</html>
