:root {
  --background-color: #151515;
  --font-color: #eaeaea;
  --invert-font-color: #151515;
  --primary-color: #1a95e0;
  --secondary-color: #999;
  --block-background-color: #1e1e1e;
  --code-bg-color: #1e1e1e;
  --progress-bar-background: #444;
  --progress-bar-fill: #eaeaea;
}

body {
  font-size: 16px;
  margin-left: 2rem;
  max-width: 65%;
  margin: 0 auto;
  text-shadow: 0 0 5px #C8C8C8;
}

/* ascii art */
.ascii-art {
  font-family: monospace;
  white-space: pre;
}

/* content-box */
.content-box {
  border: 1px solid var(--font-color);
  padding: 1rem;
  margin-top: 0.5em;
}
.content-section {
  display: none;
}
.content-section.active {
  display: block;
}

/* navigation */
nav a {
  text-shadow: 0 0 10px #C8C8C8;
}
nav a.active {
  text-shadow: 0 0 5px #C8C8C8;
}
.menu-horizontal ul {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

/* terminal-prompt */
.terminal-prompt::before {
  content: "$ ";
}

/* links */
a {
  text-shadow: none;
}

.list-mb:not(:last-child) {
  margin-bottom: 1.5em;
}