<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Rocket Example</title>
  </head>
  <body>
    <h1>Hi {{ name }}!</h1>
    <h3>This web app was built with rust.</h3>
  </body>
</html>
