{{#*inline "page"}}

<header class="hero">
  <h1 class="hero__name">Julian Hoffmann</h1>
  <p class="hero__subtitle">Software Developer<span class="hero__cursor"></span></p>
</header>

{{> nav}}

<main class="content">
  <div id="projects" class="content-section">
    {{> projects}}
  </div>
  <div id="experience" class="content-section">
    {{> experience}}
  </div>
  <div id="education" class="content-section">
    {{> education}}
  </div>
  <div id="links" class="content-section">
    {{> links}}
  </div>
</main>

{{/inline}}
{{> layout}}
