<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{personal.meta_description}}">
    <meta property="og:title" content="{{personal.og_title}}">
    <meta property="og:description" content="{{personal.og_description}}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/images/homepagers-preview.jpg">
    <title>{{personal.og_title}}</title>
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=JetBrains+Mono:wght@400;600&family=Space+Grotesk:wght@700&family=Unbounded:wght@700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha384-/o6I2CkkWC//PSjvWC/eYN7l3xM3tJm8ZzVkCOfp//W05QcE3mlGskpoHB6XqI+B" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    {{~> page}}

    <script src="/js/nav.js"></script>
  </body>
</html>
