{{#each links}}
  <div class="list-mb">
    <div class="terminal-prompt">{{name}}</div>
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="{{link}}"
    >&nbsp;&nbsp;{{linkname}}</a>
  </div>
{{/each}}