<nav class="nav">
  <ul class="nav__list">
    <li class="nav__item"><a
        href="#"
        class="nav__link"
        data-section="projects"
        id="projects-link"
      >Projects</a></li>
    <li class="nav__item"><a
        href="#"
        class="nav__link"
        data-section="experience"
        id="experience-link"
      >Experience</a></li>
    <li class="nav__item"><a
        href="#"
        class="nav__link"
        data-section="education"
        id="education-link"
      >Education</a></li>
    <li class="nav__item"><a
        href="#"
        class="nav__link"
        data-section="links"
        id="links-link"
      >Links</a></li>
  </ul>
</nav>