<nav class="menu-horizontal">
  <ul class="terminal-menu">
    <li><a href="#" data-section="projects" id="projects-link">Projects</a></li>
    <li><a
        href="#"
        data-section="experience"
        id="experience-link"
      >Experience</a></li>
    <li><a
        href="#"
        data-section="education"
        id="education-link"
      >Education</a></li>
    <li><a href="#" data-section="links" id="links-link">Links</a></li>
  </ul>
</nav>