{{#*inline "page"}}

<h1 class="ascii-art">
<!-- prettier-ignore-start -->
       __      ___                __  __      ________                          
      / /_  __/ (_)___ _____     / / / /___  / __/ __/___ ___  ____ _____  ____ 
 __  / / / / / / / __ `/ __ \   / /_/ / __ \/ /_/ /_/ __ `__ \/ __ `/ __ \/ __ \
/ /_/ / /_/ / / / /_/ / / / /  / __  / /_/ / __/ __/ / / / / / /_/ / / / / / / /
\____/\__,_/_/_/\__,_/_/ /_/  /_/ /_/\____/_/ /_/ /_/ /_/ /_/\__,_/_/ /_/_/ /_/ 
<!-- prettier-ignore-end -->
</h1>

<p>
  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
</p>

{{> nav}}

<div class="content-box">
  <div id="projects" class="content-section">
    {{> projects}}
  </div>
  <div id="experience" class="content-section">
    {{> experience}}
  </div>
  <div id="education" class="content-section">
    {{> education}}
  </div>
  <div id="links" class="content-section">
    {{> links}}
  </div>
</div>

{{/inline}}
{{> layout}}
