<nav class="menu-horizontal">
  <ul class="terminal-menu">
    <li><a href="#" data-section="projects">projects</a></li>
    <li><a href="#" data-section="experience">experience</a></li>
    <li><a href="#" data-section="education">education</a></li>
    <li><a href="#" data-section="links">links</a></li>
  </ul>
</nav>
