name: Docker build & push

on:
  workflow_run:
    workflows: ["Rust lint, build & test"]
    types:
      - completed
  schedule:
    - cron: "0 0 * * 0" # every Sunday at midnight

jobs:
  docker:
    if: ${{ github.event_name == 'schedule' || github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: arm64

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push with cache
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64, linux/arm64/v8
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/homepagers:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
